DIRECTORY=$(dirname "$(readlink -f "$BASH_SOURCE")")
PYTHON="$DIRECTORY/.v/bin/python3"

alias di="$PYTHON $DIRECTORY/src/di.py"
alias asic="$PYTHON $DIRECTORY/src/asic.py"
alias cor="$PYTHON $DIRECTORY/src/cor.py"
alias spf="$PYTHON $DIRECTORY/src/spf.py"